// main.scss

@charset 'utf-8';

// Modules and variables
@import 'modules/colors';
@import 'modules/variables';

 
// Bootstrap
@import 'vendor/bootstrap';

// Third-party
@import 'vendor/boilerplate';
@import 'vendor/bootstrap-overrides';
@import 'vendor/lazyload';
@import 'vendor/owl.carousel';
@import 'vendor/owl.theme.default';

// Partials
@import 'partials/layout';
@import 'partials/buttons';
@import 'partials/fontface';
@import 'partials/typography';
@import 'partials/icons';

// Components
@import 'components/carousel';
@import 'components/navbar';
@import 'components/video';
@import 'components/tabs';
@import 'components/owl-carousel';

// Helpers
@import 'helpers/mixins';

// Pages
@import 'pages/homepage';
@import 'pages/about';
@import 'pages/project'; 
 