// main.scss

@charset 'utf-8';

// Modules and variables
@import 'modules/variables';
@import 'modules/colors';

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Partials
@import 'partials/buttons';
@import 'partials/fontface';
@import 'partials/typography';
@import 'partials/icons';

// Components
@import 'components/navbar';

// Helpers
@import 'helpers/mixins';

// Third-party
@import 'vendor/boilerplate';
@import 'vendor/normalize';

// Pages
@import 'pages/homepage';
@import 'pages/about';

// Gutter on small devices
.container {
    position: relative;
    @include media-breakpoint-down(sm) {
    padding-left:  $spacing-sm;
    padding-right: $spacing-sm;
  }
}
