// fontface.scss


// Apercru

@font-face {
    font-family: 'Apercu Regular';
    src: local('☺'), url('../fonts/apercu/Apercu_Regular.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Italic';
    src: local('☺'), url('../fonts/apercu/Apercu Italic.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Light';
    src: local('☺'), url('../fonts/apercu/Apercu Light.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Light Italic';
    src: local('☺'), url('../fonts/apercu/Apercu Light Italic.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Medium';
    src: local('☺'), url('../fonts/apercu/Apercu Medium.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Medium Italic';
    src: local('☺'), url('../fonts/apercu/Apercu Medium Italic.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Bold';
    src: local('☺'), url('../fonts/apercu/Apercu Bold.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Bold Italic';
    src: local('☺'), url('../fonts/apercu/Apercu Bold Italic.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Mono Regular';
    src: local('☺'), url('../fonts/apercu/Apercu Mono.woff') format('woff');
}


// Crimson Text
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

// Merriweather Sans
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700,800');

// Lato
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
