// Gutter on small devices
.container {
  position: relative;
  @include media-breakpoint-down(sm) {
    padding-left:  $spacing-sm;
    padding-right: $spacing-sm;
  }
}

.last-section {
  padding-bottom: 196px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 144px;
  }
}
