// Gutter on small devices
.container {
  position: relative;
  @include media-breakpoint-down(sm) {
    padding-left:  $spacing-sm;
    padding-right: $spacing-sm;
  }
}

.last-section {
  padding-bottom: 196px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 144px;
  }
}

.bust-out { 
  @media (max-width: 1919px) {
    min-width: 100vw;
    max-height: 600px;
    object-fit: cover;
    margin: 0 calc(50% - 50vw);
  }
}

.full-width {
  
  @media (max-width:1919px) {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-color: #fafafa;
  }
  
//  @include media-breakpoint-up(xl) {
//    padding-left: 5vw;
//    padding-right: 5vw;
//    background-color: #fafafa;
//  }
  
  @media (min-width: 1440px) and (max-width: 1599px) {
    padding-left: 30%;
    padding-right: 30%;
  }
  
  @media (min-width: 1600px) and (max-width: 1919px) {
    padding-left: 40%;
    padding-right: 40%;
  }
}
