// typography.scss

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 20px;
  margin-bottom: 24px;
}

h5 {
  font-size: 16px;
}

html {
  font-size: 1rem;
}

p, ol, ul {
  font-family: $serif;
  color: rgba(0, 0, 0, 0.8);
}

body,
p.text-muted,
.carousel-caption p {
  font-family: $sans-serif;
  font-weight: normal;
}

body { 
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}

span {
  color: $light-grey;
  
  &.font-italic {
    color: rgba(23, 35, 34, 0.75);
  }
}

.navbar,
a {
  font-weight: 400;
}

.logo,
.navbar.sticky-top > a {
  font-family: "Merriweather Sans", serif;
  letter-spacing: -2px;
}
