// typography.scss

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 26px;
  margin-bottom: 24px;
}

h5 {
  font-size: 22px;
}

html {
  font-size: 1rem;
}

p, ol, ul {
  font-family: $serif;
  color: $off-black;
}

body,
p.text-muted,
.carousel-caption p,
.section a {
  font-family: $sans-serif;
  font-weight: normal;
}

body { 
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}

span {
  color: $light-grey;
  
  &.font-italic {
    color: rgba(23, 35, 34, 0.75);
  }
}

.navbar,
a {
  font-weight: 400;
}

.logo,
.navbar.sticky-top > a {
  font-family: 'Apercu', 'Merriweather Sans', Lato, sans-serif;
  letter-spacing: -1px;
}
