// typography.scss


h2 {
  font-size: 3rem;
  line-height: 40px;
}

h3 {
  font-size: 40px;
//  line-height: 32px;
}

h4 {
  font-size: 20px;
  margin-bottom: 24px;
}

h5 {
  font-size: 16px;
}

html {
  font-size: 1rem;
}

p, ol, ul {
  font-family: "Crimson Text";
  color: rgba(0, 0, 0, 0.8);
}

body,
p.text-muted {
  font-family: "Apercu";
}

span {
  color: $light-grey;
  
  &.font-italic {
    color: rgba(23, 35, 34, 0.75);
  }
}

.navbar,
a {
  font-weight: 400;
}
