// about.scss

.about {
  
  .block {

    h4 {
      @include media-breakpoint-down(sm) {
        font-size: 24px;
        margin-bottom: 16px;
      }
      &:first-of-type {
        margin-right: 4px;
      }
      &:last-of-type {
        color: $light-grey;
      }
    }

    &.skills {
      h4 {
        color: $headings-color;
        @include media-breakpoint-up(md) {
          margin-bottom: $spacing-sm;
        }
      }
    }
  }
}

.social-links {
  
  .fab, .far {
    font-size: 28px;
    
    @include media-breakpoint-down(sm) {
      font-size: 32px; 
    }
  }
  
  a {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-size: cover;
    margin-right: 8px;
    
    @include media-breakpoint-down(sm) {
      margin-right: 16px;
    }
  }
}
