// about.scss

.about {
  
  .block {

    h4 {
      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
      &:first-of-type {
        margin-right: 4px;
      }
      &:last-of-type {
        color: $light-grey;
      }
    }

    &.skills {
      h4 {
        color: $headings-color;
        @include media-breakpoint-up(md) {
          margin-bottom: $spacing-sm;
        }
      }
    }
  }
}

.social-links {
  
  a:hover {
    opacity: 0.87;
  }
}
