// homepage

.homepage {
  
  p {
    margin-bottom: 0;
  }
  
  .bio {
    font-weight: 300;
    max-width: 850px;
    @include media-breakpoint-down(sm) {
      font-size:     16px;
      line-height:   24px;
    }
  }

  .projects h3 {
    @include media-breakpoint-down(sm) {
      margin-top:    $spacing-sm;
      margin-bottom: $spacing-sm;
    }
  }
  
  .contact-link {
    padding-bottom: 48px;
  }
  
  // zoom image on hover
  .img-wrapper {
    display: inline-block;
    overflow: hidden;
    
    img {
      @include transition(all .4s ease);
      &:hover {
        @include transform(scale(1.1));
      }
    }
  }
}