// homepage

.homepage {
  
//  .homepage-links {
//    display: inline-flex;
//    margin-left: auto;
//    
//    a {
//      vertical-align: middle;
//    }
//  }
//  
//  .inner {
//    display: flex;
//  }

  h1.headline {
    font-size: 5rem;
    font-weight: 900;
    color: #40563f;
    
    @include media-breakpoint-down(sm) {
      font-size: 3rem;
    }
  }
  
  h4.font-serif {
    font-family: $serif;
    font-size: 24px;
    font-weight: normal;
  }
  
  p {
    margin-bottom: 0;
  }
  
  .bio {
    font-weight: 300;
    max-width: 850px;
    @include media-breakpoint-down(sm) {
      font-size:     16px;
      line-height:   24px;
    }
  }

  .projects {
    
    .wrapper {
      background: #f8f8fa;
      position: absolute;
      top: 0;
      z-index: 9;
      padding-top:  40px;
      
      @include media-breakpoint-up(sm) {
        padding-left: 40px;
      }
    }
  
    h3 {
      margin-bottom: 0 !important;
      @include media-breakpoint-up(down) {
        margin-top:    8px;
        margin-bottom: $spacing-sm;
      }
    }
  }
  
  .project {
    position: relative;
  }
  
  .contact-link {
    padding-bottom: 48px;
  }
  
  // zoom image on hover
  .img-wrapper {
    display: inline-block;
    overflow: hidden;
    padding-top: 132px;
    height: 550px;
    background: #f8f8fa;
    
    img {
      max-width: 860px;
      margin: 0 auto;
      text-align: center;
      display: block;
      
      @include transition(all .4s ease);
      &:hover {
        @include transform(scale(1.1));
      }
    }
  }
}
