// homepage

.homepage {
  
  .bio {
    opacity: 0.78;
    @include media-breakpoint-down(sm) {
      font-size:     16px;
      line-height:   24px;
    }
  }

  .projects h3 {
    @include media-breakpoint-down(sm) {
      margin-top:    $spacing-sm;
      margin-bottom: $spacing-sm;
    }
  }

  .project {

    position: relative;
    display: block;
    overflow: hidden;

    &.project {
      color: $white;
    }

    h3 {
      @include media-breakpoint-down(sm) {
        margin-top:    $spacing-sm;
        margin-bottom: $spacing-sm;
      }
    }

    &:hover .overlay {
      opacity: 1;
    }

    .overlay {
      position: absolute;
      top:  0;
      left: 0;
      width:   100%;
      height:  100%;
      z-index: 99;
      background: $overlay;
      text-align: center;
      opacity: 0;

      @include transition(opacity 0.25s ease);

      @include media-breakpoint-down(sm) {
        display: none;
      }

      .project-title {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  
  .contact-link {
    padding-bottom: 48px;
  }
  
  .contact {
    margin-bottom: 8px;
    h3 {
      margin-top: 0;
    }
  }
}
