// project.scss

.project {
  
  p,
  .list-unstyled {
    margin-bottom: 0;
  }
  
  h3,
  &.mb-3 {
    margin-bottom: 32px !important;
  }
  
  ol ol {
    list-style: lower-alpha;
  }
  
  .text-muted {
    font-size: 1.2rem;
    margin-top: 16px;
  }
}

.section {
  max-width: 664px;
  
  p, li {
    font-size: 22px;
  }
}
