// project.scss

.project {
  
  p,
  .list-unstyled {
    margin-bottom: 0;
  }
  
  h3,
  &.mb-3 {
    margin-bottom: 32px !important;
  }
  
  ol ol {
    list-style: lower-alpha;
  }
}

.section {
  margin: 0 auto;
  max-width: 664px;
}
