// project.scss

.project {
  
  p,
  h3,
  .list-unstyled {
    margin-bottom: 0;
  }
  
  .section {
    max-width: 696px;
    margin: 0 auto;
  }
}

// lazyload images
.loading {
    content: "";
    width: 960px;
    height: auto;
    background-color: $gray-100;
}
