// navbar.scss

.navbar {
  padding: 0;
  background: $white;
  height: 56px;
  
  a {
    display: inline-block;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
  }
  
  .nav-title {
    text-align: center;
    @include media-breakpoint-down(xs) {
      text-align: right;
      float: right;
    }
  }
  
  .breadcrumb {
    padding: 0.75rem 0rem;
    margin-bottom: 0;
  }
  
  // Hide next project on small devices
  &.sticky-top .next-project {
//    @include media-breakpoint-down(sm) {
//      display: none;
//    } 
    display: none;
  }
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

// Navbar bottom

.next-project,
.contact-link,
.body-link {
  color: $body-link-color;
  &:hover {
    color: darken( $body-link-color, 15% );
  }
}

.next-project {
  float: right;
  &::after {
    display: inline-block; // Suppress underlining of the separator in modern browsers
    padding-left: .5rem;
 // content: $next-arrow;
  }
}

.navbar-bottom {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  width: 180px;
  right: 0;
  bottom: 0;
}
