// owl-carousel.scss

.project-carousel {
  
  padding: 48px 0 96px 0;
  
  .owl-stage-outer {
    margin-right: -10px;
  }

  .owl-stage { 
  
    margin: 8px;

    .owl-item {

      .card {
        border-radius: 3px;
        border: 2px solid rgba(0,0,0,.04);
        box-shadow: 0 1px 7px rgba(0,0,0,.05);
        a {
          transition: box-shadow 300ms;
          &:hover {
            box-shadow: 0 1px 7px rgba(0,0,0,.062);
            color: inherit;
            cursor: pointer;
          }
        }
      }
    }
  }
}
