// colours.scss


// white

$white:       #fff;


// grey

$dark-grey:   #111;
$gray-900:    #343734;
$light-grey:  #949494;
$gray-100:    #ced4da;


// blacks

$overlay:     rgba(0, 0, 0, 0.67);
$off-black:   rgba(0, 0, 0, 0.8);


// blues

$light-blue:  #00829A;