$font-family-base:            'Apercu';
$gray-900:                    #767676;
$h3-font-size:                24px;
$headings-font-weight:        400;

// grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px
);

// grid columns
$grid-gutter-width:           32px;


// stylelint-disable
$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: 8px,
  2: 16px,
  3: 24px,
  4: 32px,
  5: 40px,
  6: 48px,
  7: 96px,
  8: 120px,
  9: 144px,
), $spacers);
